@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: #F5F7FA;
  font-family: 'Montserrat', sans-serif; }

.main_container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 0 14px 28px #0000007b, 0 10px 10px #0000007b; }

/* Main Section*/
.main_content_section{
padding: 50px 200px 50px 80px; }
.about_me_section{}
.project_section{}
.work_exp_section{}
.company_1{}
.company_2{}
.company_3{}
.education_section{}

/* Sidebar Section */
.aside_section{
    /* display: flex;
    flex-direction: column; */
    background-color: #1b145f;
    width: 370px;
    padding: 40px 0; }
.contact_section{
    padding: 50px 0 0 40px; }
.tech_skills_section{
    padding: 50px 0 0 40px; }
.soft_skills_section{
    padding: 50px 0 0 40px; }
.contacts_txt, .tech_skills_txt, .soft_skills_txt{
    font-size: 14px; }
.contacts_span{
    color: white;
    font-weight: bold;
    margin-right: 5px; }
.contacts_link{
    color: #919396; 
    text-decoration: none;}

/* Стили оступов для спиcков и текста Tech Skills, Soft Skills */
.tech_skills_list, .soft_skills_list{
    padding: 0 0 0 18px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;}

    /* .tech_skills_item, .soft_skills_item{
    color: #FB6D3A;
    }
.tech_skills_item_span, .soft_skills_item_span{
    color: #fff;
} */

/* Смена цвета при наведении на текст */
/*.span:hover{
    color: blue;
}
.span2:hover{
    color: #000000;
    font-weight: 600;
}
.span3:hover{
    color: #f2ff00;
}
*/

/* Стили заголовков Main content section*/
.about_me_h2 {
  font-size: 14px;
  font-weight: 700;
  color: #000; }
.about_me_h1 {
  font-size: 25px;
  font-weight: 700;
  color: #000; }
.h3 {
    font-size: 22px;
    font-weight: 700;
    color: #000; }
.section_h3 {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin-bottom: -10px; }
.section_h4 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-bottom: -10px; }
.section_h5 {
    font-size: 12px;
    font-weight: 700;
    color: #000;
    margin-bottom: -10px; }

/*Стиль текста абзацев*/
.p_text {
    padding-left: 20px;
    text-align: justify;}
 }
.p_text1 {
    padding-left: 10px; 
    font-size: 18px;
    text-align: justify;}

/* Стили строк span */
.date_p{
    font-size: 12px;
    font-weight: 600;
    color: rgb(136, 125, 125); }
.title_span{
    color: #8f8f8f; }
.date_span{
    color: #73787e;
    font-weight: bold; }

/* Стиль текста списка */
.list {
    font-size: 18px;
    padding-left: 50px; }

    /* Стиль заголовков сайдбара */
.aside_h3{
    font: 22px;
    color: white;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px; }

/* li {}
li::before {
    color: red;  Цвет маркера 
    content: "▪"; Сам маркер
    padding-right: 10px;Расстояние от маркера до текста  }
 */
